[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/evildr4gon/Escritorio/steam.desktop]
row=10
col=0

[/home/evildr4gon/Escritorio/chrome-ocdlmjhbenodhlknglojajgokahchlkk-Default.desktop]
row=11
col=0

[/home/evildr4gon/Escritorio/chrome-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=7
col=0

[/home/evildr4gon/Escritorio/Play Pogo Games.lnk]
row=6
col=0

[/home/evildr4gon/Escritorio/pseint.desktop]
row=8
col=0

[/home/evildr4gon/Escritorio/virtualbox.desktop]
row=3
col=0

[/home/evildr4gon/Escritorio/chrome-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=9
col=0

[/home/evildr4gon/Escritorio/Play Pogo Games.desktop]
row=5
col=0

[/home/evildr4gon/Escritorio/terminator.desktop]
row=4
col=0

[Papelera]
row=1
col=0

[/]
row=2
col=0

[/home/evildr4gon]
row=0
col=0

